<div class="row">
  <div class="col">
    <h2 class="text-center">用药基因信息库</h2>
    <p>人们对于相同药物，可能有不同的反应：对有的人非常有效，有的人似乎没有多大的改善，
      甚至有的人可能产生严重的不良反应。产生这种差异的直接原因是人们体内药物代谢的酶活性不同，
      根本原因是决定这些酶活性的基因不同。全世界的药物基因组科学家们搜集了跟各种药物代谢相关的
      基因，找出不同人之间的基因差异和对药物不同反应之间的内在联系，并建立了指南，根据这些基因
      差异预测个体对药物的反应能力，从而指导精准用药。本网站将这些信息整理成数据库，方便大众查阅。
    </p>
    <hr>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="alert alert-secondary alert-dismissible fade show" role="alert">
      请在下方输入关键词，检索结果会自动出现在搜索框下方。
      如果您不确定可以点击查看我们收录的<a routerLink="druglist">药物列表</a>。
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</div>


<div class="row">
  <div class="col">
    <div class="input-group input-group-lg">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-lg">药物英文名：</span>
      </div>
      <input #searchBox1 (keyup)="searchName(searchBox1.value)" type="text" placeholder="" class="form-control" aria-label="Search by name" aria-describedby="inputGroup-sizing-lg">
    </div>
    <ul class="list-group">
      <li *ngFor="let row of rows$ | async" class="list-group-item">
        <a routerLink="page/{{row.id}}">
          {{row.class}}: {{row.chinese}}({{row.name}})
        </a>
      </li>
      <li *ngIf="(rows$ | async)?.length === 0 && searchBox1.value !== ''" class="list-group-item">
        没有找到药物英文名包含“{{searchBox1.value}}”的结果。
      </li>
    </ul>    
    <br>
    
    <div class="input-group input-group-lg">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-lg">药物中文名：</span>
      </div>
      <input #searchBox2 (keyup)="searchChinese(searchBox2.value)" type="text" placeholder="" class="form-control" aria-label="Search by Chinese" aria-describedby="inputGroup-sizing-lg">
    </div>
    <ul class="list-group">
      <li *ngFor="let chinese of chineses$ | async" class="list-group-item">
          <a routerLink="/page/{{chinese.id}}">
            {{chinese.class}}：{{chinese.chinese}}（{{chinese.name}}）
          </a>
        </li>
        <li *ngIf="(chineses$ | async)?.length === 0 && searchBox2.value !== ''" class="list-group-item">
          没有找到药物中文名包含“{{searchBox2.value}}”的结果。
        </li>
    </ul>
    <br>

    <div class="input-group input-group-lg">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-lg">药物类型：&nbsp; &nbsp; </span>
      </div>
      <input #searchBox3 (keyup)="searchClass(searchBox3.value)" type="text" placeholder="" class="form-control" aria-label="Search by class" aria-describedby="inputGroup-sizing-lg">
    </div>
    <ul class="list-group">
      <li *ngFor="let class of classs$ | async" class="list-group-item">
          <a routerLink="/page/{{class.id}}">
            {{class.class}}：{{class.chinese}}（{{class.name}}）
          </a>
        </li>
        <li *ngIf="(classs$ | async)?.length === 0 && searchBox3.value !== ''" class="list-group-item">
          没有找到药物类型包含“{{searchBox3.value}}”的结果。
        </li>
    </ul>
    <hr>
  </div>
</div>
